visual-recognition-node-red-shortcut
[{"id":"65d1a317.97e4cc","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d08ceb5d.da46d8","type":"http in","z":"65d1a317.97e4cc","name":"","url":"/watson-visual","method":"get","upload":false,"swaggerDoc":"","x":110,"y":40,"wires":[["4e3e2d4d.c71914"]]},{"id":"4e3e2d4d.c71914","type":"switch","z":"65d1a317.97e4cc","name":"Check image URL","property":"payload.imageurl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","outputs":2,"x":250,"y":160,"wires":[["bb474d8a.54f3e"],["6ac4ec06.f00774"]]},{"id":"bb474d8a.54f3e","type":"template","z":"65d1a317.97e4cc","name":"Prompt image","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img src=\"http://exploreibm.com/static/img/exploreIBM-logo.png\" height='50'/>\n<h1>exploreIBM</h1>\n<H2>Watson Visual Recognition</H2>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <img src=\"http://asbarez.com/wp-content/uploads/2016/02/ibmwatson.jpg\" height='200'/>\n    <img src=\"https://scontent-lga3-1.xx.fbcdn.net/v/t31.0-8/22529021_10155739363543766_6838071202177424213_o.jpg?_nc_cat=0&oh=e9287ea0cf9755d63d1e313be2065c76&oe=5B6A9689\" height='200'/>\n    <img src=\"https://www.biography.com/.image/t_share/MTE4MDAzNDEwNzg5ODI4MTEw/barack-obama-12782369-1-402.jpg\" height='200'/>\n    <img src=\"http://mlb.mlb.com/mlb/images/players/head_shot/116539.jpg\" height='200'/>\n    <img src=\"http://static.oprah.com/images/o2/201308-omag-what-know-949x534.jpg\" height='200'/>\n    <img src=\"https://www.grammy.com/sites/com/files/styles/image_landscape_hero/public/beyonce-hero-487073444_copy.jpg?itok=RTg0LU3d\" height='200'/>\n    <img src=\"https://i.ytimg.com/vi/NX0iaeMzHyI/maxresdefault.jpg\" height='200'/>\n    <img src=\"https://i.amz.mshcdn.com/QC9yDgcVF87ZQtpukIolk2B0Qkc=/950x534/filters:quality(90)/https%3A%2F%2Fblueprint-api-production.s3.amazonaws.com%2Fuploads%2Fcard%2Fimage%2F587401%2Feefe1584-6a4d-41c5-a826-8bad15a2c282.jpg\" height='200'/>\n   <br>\n   <br>\n    <br>\n    <h2>Paste Image URL: </h2><input type=\"text\" name=\"imageurl\"/>\n    <input type=\"submit\" value=\"Analyze\"/>\n    </form>\n","x":460,"y":60,"wires":[["7284c378.4e328c"]]},{"id":"6ac4ec06.f00774","type":"change","z":"65d1a317.97e4cc","name":"Extract image URL","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.imageurl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":260,"wires":[["e2808e11.61a7f"]]},{"id":"a66fd7d5.c909b8","type":"template","z":"65d1a317.97e4cc","name":"Report faces","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img src=\"http://exploreibm.com/static/img/exploreIBM-logo.png\" height='50'/>\n<h1>exploreIBM</h1>\n<H2>Watson Visual Recognition</H2>\n\n<!-- parse all images -->\n{{#result.images}}\n<br/><img id=\"alchemy_image\" src=\"{{source_url}}\" height=\"200\"/></p>\n\n{{^faces}}\n<P>No Face detected</P>\n{{/faces}}\n\n\n<table border='1'>\n<thead><tr><th>Age Range</th><th>Confidence</th><th>Gender</th><th>Confidence</th><th>Name</th></tr></thead>\n<!-- parse all faces -->\n{{#faces}}\n<tr>\n<td><b>{{age.min}} - {{age.max}}</b></td><td><i>{{age.score}}</i></td>\n<td>{{gender.gender}}</td><td>{{gender.score}}</td>\n{{#identity}}<td>{{identity.name}} ({{identity.score}})</td>{{/identity}}\n</tr>{{/faces}}\n</table>\n{{/result.images}}\n<form action=\"{{req._parsedUrl.pathname}}\">\n<br><input type=\"submit\" value=\"Home\"/>\n</form>\n","x":970,"y":260,"wires":[["7284c378.4e328c"]]},{"id":"7284c378.4e328c","type":"http response","z":"65d1a317.97e4cc","name":"","x":1170,"y":140,"wires":[]},{"id":"e2808e11.61a7f","type":"visual-recognition-v3","z":"65d1a317.97e4cc","name":"","apikey":"","vr-service-endpoint":"https://gateway-a.watsonplatform.net/visual-recognition/api","image-feature":"detectFaces","lang":"en","x":730,"y":260,"wires":[["a66fd7d5.c909b8"]]}]
