visual-recognition-node-red-shortcut
[{"id":"ba4c2922.ff0488","type":"http in","z":"c02727e1.ec6b48","name":"","url":"/watson-visual","method":"get","upload":false,"swaggerDoc":"","x":140,"y":160,"wires":[["c0316a6e.4686b"]]},{"id":"c0316a6e.4686b","type":"switch","z":"c02727e1.ec6b48","name":"Check Image URL","property":"payload.imageurl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":160,"wires":[["fa79bb2.125f048"],["f676b5ee.29c788"]]},{"id":"fa79bb2.125f048","type":"template","z":"c02727e1.ec6b48","name":"Prompt Images","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img src=\"http://exploreibm.com/static/img/exploreIBM-logo.png\" height='50'/>\n<h1>exploreIBM</h1>\n<H2>Watson Visual Recognition</H2>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <img src=\"http://asbarez.com/wp-content/uploads/2016/02/ibmwatson.jpg\" height='200'/>\n    <img src=\"https://scontent-lga3-1.xx.fbcdn.net/v/t31.0-8/22529021_10155739363543766_6838071202177424213_o.jpg?_nc_cat=0&oh=e9287ea0cf9755d63d1e313be2065c76&oe=5B6A9689\" height='200'/>\n    <img src=\"https://www.biography.com/.image/t_share/MTE4MDAzNDEwNzg5ODI4MTEw/barack-obama-12782369-1-402.jpg\" height='200'/>\n    <img src=\"http://mlb.mlb.com/mlb/images/players/head_shot/116539.jpg\" height='200'/>\n    <img src=\"http://static.oprah.com/images/o2/201308-omag-what-know-949x534.jpg\" height='200'/>\n    <img src=\"https://www.grammy.com/sites/com/files/styles/image_landscape_hero/public/beyonce-hero-487073444_copy.jpg?itok=RTg0LU3d\" height='200'/>\n    <img src=\"https://i.ytimg.com/vi/NX0iaeMzHyI/maxresdefault.jpg\" height='200'/>\n    <img src=\"https://i.amz.mshcdn.com/QC9yDgcVF87ZQtpukIolk2B0Qkc=/950x534/filters:quality(90)/https%3A%2F%2Fblueprint-api-production.s3.amazonaws.com%2Fuploads%2Fcard%2Fimage%2F587401%2Feefe1584-6a4d-41c5-a826-8bad15a2c282.jpg\" height='200'/>\n   <br>\n   <br>\n    <br>\n    <h2>Paste Image URL: </h2><input type=\"text\" name=\"imageurl\"/>\n    <input type=\"submit\" value=\"Analyze\"/>\n</form>","output":"str","x":560,"y":140,"wires":[["59fa3211.ca69e4"]]},{"id":"f676b5ee.29c788","type":"change","z":"c02727e1.ec6b48","name":"Extract Image URL","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.imageurl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":200,"wires":[["6477ab63.f41c0c"]]},{"id":"6477ab63.f41c0c","type":"visual-recognition-v3","z":"c02727e1.ec6b48","name":"","apikey":"","vr-service-endpoint":"https://gateway-a.watsonplatform.net/visual-recognition/api","image-feature":"detectFaces","lang":"en","x":790,"y":200,"wires":[["c5477ee1.609a4"]]},{"id":"c5477ee1.609a4","type":"template","z":"c02727e1.ec6b48","name":"Report Faces","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img src=\"http://exploreibm.com/static/img/exploreIBM-logo.png\" height='50'/>\n<h1>exploreIBM</h1>\n<H2>Watson Visual Recognition</H2>\n\n<!-- parse all images -->\n{{#result.images}}\n<br/><img id=\"alchemy_image\" src=\"{{source_url}}\" height=\"200\"/></p>\n\n{{^faces}}\n<P>No Face detected</P>\n{{/faces}}\n\n\n<table border='1'>\n<thead><tr><th>Age Range</th><th>Confidence</th><th>Gender</th><th>Confidence</th><th>Name</th></tr></thead>\n<!-- parse all faces -->\n{{#faces}}\n<tr>\n<td><b>{{age.min}} - {{age.max}}</b></td><td><i>{{age.score}}</i></td>\n<td>{{gender.gender}}</td><td>{{gender.score}}</td>\n{{#identity}}<td>{{identity.name}} ({{identity.score}})</td>{{/identity}}\n</tr>{{/faces}}\n</table>\n{{/result.images}}\n<form action=\"{{req._parsedUrl.pathname}}\">\n<br><input type=\"submit\" value=\"Home\"/>\n</form>","output":"str","x":1000,"y":200,"wires":[["59fa3211.ca69e4"]]},{"id":"59fa3211.ca69e4","type":"http response","z":"c02727e1.ec6b48","name":"","statusCode":"","headers":{},"x":1170,"y":140,"wires":[]}]
